@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
    @keyframes flicker {
        0%, 100% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.8);
        }
        50% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.1);
        }
    }

    .animate-flicker {
        animation: flicker 1.5s infinite ease-in-out;
    }
} */

@layer utilities {
    @keyframes small-flicker {
        0%, 100% {
          opacity: 0.9;
          transform: scale(0.95);
        }
        50% {
          opacity: 0.4;
          transform: scale(0.85);
        }
      }
      
      .animate-small-flicker {
        position: relative;
      }
      
      .animate-small-flicker::before {
        content: '';
        position: absolute;
        width: 100%; /* Control del tamaño del efecto */
        height: 100%;
        top: 0%;
        left: 0%;
        transform: translate(-50%, -50%);
        background: radial-gradient(
          circle closest-side,
          rgba(59, 130, 246, 0.8),
          transparent 100%
        );
        animation: small-flicker 2.5s infinite ease-in-out;
        pointer-events: none;
        z-index: 0;
    }
    @keyframes flicker {
        0%, 100% {
          box-shadow: 0 0 10px 2px rgba(59, 130, 246, 0.8);
        }
        50% {
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        }
      }
      
      .animate-flicker {
        animation: flicker 2.5s infinite ease-in-out;
    }
}

[x-cloak] {
  display: none;
}
table {
  width: 100%;
  border-collapse: collapse;
    
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #2D3748; /* Fondo oscuro */
  color: white;
}


input:-webkit-autofill {
  background-color: #1f2937 !important; /* Gris oscuro */
  color: white !important; /* Texto blanco */
  -webkit-text-fill-color: white !important; /* Asegura que el texto se mantenga blanco */
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
}

h2  {
  color: #FEF3C7
}